<h1>All Lists</h1>


<% @lists.each do |list|  %>
  <label>Title: </label><%= list.title %><br>
  <label>Status: </label><%= list.status %><br>
  <%= link_to "Details", list_path(list.id) %><br>
  
  <br>

<% end %>
