<h1>Welcome!</h1>


<% if logged_in? %>
<h1>You're logged in!<%= @current_user %></h1>
 <%end%>
<%= button_to "Create New List", '/lists/new', method: :get %>
<%= button_to "Log Out", '/users/:id', method: :delete %>
