<h1>Task</h1>

<label><strong>Content: </strong></label><%= @task.content.capitalize %><br>
<label><strong>Task Status: </strong></label><%= @task.task_status.capitalize %>

<%= button_to list_path(@task.list_id) %>
