<h1>Your Project Assignments</h1><br><br><br>

<label>Location: </label><%= @pa.location %><br><br><br>
<label>Created at: </label><%= @pa.created_at %><br><br><br>

<label>List: </label><%= @pa.list.title %>
